<p>Find me in app/views/message/show.html.erb</p>

<h3>IN messages</h3>

<%= render 'messages/search' %>

<div class="container" >
  <table class="table table-hover">
    <thead>
    <tr>
      <th>From:</th>
      <th>To:</th>
      <th>Message:</th>
      <th>Created:</th>
    </tr>
    </thead>
    <tbody>
    <% if @messages.any? %>
        <% @messages.each do |message|%>
            <tr>
              <td class="sender"> <%= message.sender.name %></td>
              <td class="reciver"><%= message.reciver.name %></td>
              <td class="content"><%= message.body %></td>
              <td class="create"> <%= message.created_at %></td>
            </tr>
        <% end %>
    <% else %>
        <p>Your messages not found</p>
    <% end %>
    </tbody>
  </table>
</div>

