<h1>Message#new</h1>


<%= form_tag messages_path, method: :post do %>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[reciver_id]', 'Выберите получателя' %>
    <%= select_tag 'message[reciver_id]',reciver_options(@chosen_reciver),  class: 'form-control chosen-it' %>
  </div>

  <%= submit_tag 'Send', class: 'btn btn-primary' %>

<% end %>
