<p>Find me in app/views/message/show.html.erb</p>
<p>Find me in app/views/message/show.html.erb</p>

<h3>OUT messages</h3>

<%= render 'messages/search' %>

<ol class="messages">
  <% @messages.each do |outmessage| %>
      <li>
        <span class="sender">From:<%= outmessage.sender.name %> =></span>
        <span class="reciver">To: <%= outmessage.reciver.name %></span>&nbsp &nbsp &nbsp
        <span class="content">Text: <%= outmessage.body %></span>&nbsp &nbsp &nbsp
        <span class="create">Create: <%= outmessage.created_at %></span>
      </li>
  <% end %>
</ol>
