
<p>Find me in app/views/message/show.html.erb</p>
<p>Find me in app/views/message/show.html.erb</p>

<h3>ALL messages</h3>

<%= render 'messages/search' %>

<ul class="messages">
  <% @messages.each do |message|%>
      <li>
        <span class="sender">From: <%=link_to message.sender.name%></span>&nbsp &nbsp &nbsp
        <span class="reciver">To: <%=link_to message.reciver.name, messages_path(reciver_id: message.reciver.id),:method => :get%></span> &nbsp &nbsp &nbsp
        <span class="content"><%= message.body %></span>&nbsp &nbsp
        <span class="create">Create: <%= message.created_at %></span>
      </li>
  <% end %>
</ul>

______________________________

<ul class="messages">
  <% @messages1.each do |message|%>
      <li>
        <span class="sender">From: <%=link_to message.sender.name%></span>&nbsp &nbsp &nbsp
        <span class="reciver">To: <%=link_to message.reciver.name, messages_path(:reciver_id => message.reciver.id),:method => :get %></span> &nbsp &nbsp &nbsp
        <span class="content"><%= message.body %></span>&nbsp &nbsp
        <span class="create">Create: <%= message.created_at %></span>
      </li>
  <% end %>
</ul>




