

<%= f.fields_for :user do |user_form| %>
    <div class="field"><%= user_form.label :name %><br />
      <%= user_form.name_field :name %></div>
    <div class="field"><%= user_form.label :email %><br />
      <%= user_form.email_field :email %></div>
    <div class="field"><%= user_form.label :password %><br />
      <%= user_form.password_field :password %></div>
    <div class="field"><%= user_form.label :password_confirmation %><br />
      <%= user_form.password_field :password_confirmation %></div>
<% end %>
<div class="field">
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
</div>
<div class="actions">
  <%= f.submit "Create account" %>
</div>
